<h2 class="section-title">{{ .titles.deadline }}</h2>

<h5>Submission deadline</h5>

<p itemprop="description">{{ .deadline.submission }}</p>

<h5>Author notification</h5>

<p itemprop="description">{{ .deadline.notification }}</p>

<h5>Camera-ready Due</h5>

<p itemprop="description">{{ .deadline.camera }}</p>

<h5>Workshop date</h5>

<p itemprop="description">{{ .deadline.workshopdate }}</p>

<h5>Student Travel Grant Applications:</h5>

<p itemprop="description">{{ .deadline.studentgrant }}</p>

<h5>Submission site</h5>

<p itemprop="description"><a href={{ .deadline.submissionsite }}>{{ .deadline.submissionsite }}</a></p>
